<f:layout name="Login"/>

<f:section name="loginFormFields">
    <style type="text/css">
        form[action$="?loginProvider=1518433441"] #t3-login-submit-section {
            /* We don't need a submit button for the Shibboleth login provider */
            display: none !important;
        }
    </style>

    <h2><f:translate extensionName="shibboleth_auth" key="backend_login.header"/></h2>
    <p>
        <a href="{shibbolethLoginUri}">
            <f:image style="max-width: 100%; height: auto;" src="EXT:shibboleth_auth/Resources/Public/Images/logo-shibboleth.png" title="{f:translate(extensionName: 'shibboleth_auth', key: 'backend_login.header')}"/>
        </a>
    </p>
    <p>{f:translate(extensionName: 'shibboleth_auth', key: 'backend_login.message')}</p>
</f:section>
